
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row ">
                <div class="col-md-7">
                    <div class="input-group">
                        <input id="house" class="form-control" type="text" [(ngModel)]="searchText" name="search" 
                            autocomplete="off" placeholder="search Godown Name,Branch Name">
                    </div>
                </div>
                    <div class="col-md-2">
                    </div>
                <div class="col-md-3">
                        <button class="btn btn-success mx-2" (click)="openModalForSave(modalForSave)"
                            style="padding-left:8%;padding-right:8%; background-color: #256D85;"> <i class="fa-solid fa-plus"></i>
                            Add
                        </button>
                        <button class="btn btn-success mx-2" > <i class="fa-regular fa-eye"></i> Pdf View
                        </button>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-3">
        <div class="container">
        <div #tableListPdf class="tableListPdf" style="max-height: 450px; overflow:scroll;width: 100%;">
            <table id="example" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">SN.</th>
                        <th scope="col">Godown Name</th>
                        <th scope="col">Parent Godown Name</th>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody  *ngIf="lstGodown.length==0">
                    <tr>
                        <td>No Data Found</td>
                    </tr>
                </tbody>
                <tbody *ngIf="lstGodown.length>0">
                    <tr  *ngFor="let godown of lstGodown | filter:searchText; let i= index" >
                        <td>{{i+1}}</td>
                        <td>{{godown.godownName}}</td>
                        <td>{{godown.parentGodownName}}</td>
                        <td>{{godown.branchName}}</td>
                        <td>
                            <span class="text-success" *ngIf="godown.status===1"> <i class="fa fa-check"
                                    aria-hidden="true"></i> Active</span>
                            <span class="text-danger" *ngIf="godown.status===2"> <i class="fa fa-times"
                                    aria-hidden="true"></i> Deactived</span>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-info" (click)="editgodownById(godown.id,modalForSave)"><i
                                            class="fa-solid fa-pen-to-square"></i></button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-danger"(click)="delete(godown.id, deleteModal)"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </td>
    
                </tbody>
            </table>
        </div>
    
    </div>
    </section>
    
    <ng-template #modalForSave>
        <div class="row">
            <div class="card  text-center" style="border:none">
                <form [formGroup]="godownEntryForm">
                    <div class="card-header text-center pt-4 pb-4" style="border:none ;background-color:#F2F2F2 ">
                        <h3>Godown Entry</h3>
                    </div>
                    <div class="card-body" style="background-color:#F2F2F2">
                        <div class="row">
                            <div class="col-md-3 text-start">
                                <Label>Select Branch</Label>
                            </div>
                            <div class="col-md-8">
                                <ng-select [items]="lstBranch" [placeholder]="'Select Branch'"
                                bindLabel="name" bindValue="branchId" formControlName="branchId" ></ng-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-start">
                                <Label>Select Parent Godown</Label>
                            </div>
                            <div class="col-md-8">
                                <ng-select [items]="lstGodown" [placeholder]="'Select Godown'"
                                bindLabel="godownName" bindValue="godownId" formControlName="parentId" ></ng-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-start">
                                <Label>Godown Name</Label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" formControlName="godownName" type="text">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-start">
                                <Label>Status</Label>
                            </div>
                            <div class="col-md-8">
                                <select name="Status" class="form-control" formControlName="status">
                                    <option *ngFor="let status of lstStatus" [value]="status.key">{{status.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2 text-start">
                            <div class="col-md-3 text-start">
                                <Label>Is Parent</Label>
                            </div>
                            <div class="col-md-8">
                                <input formControlName="isParent" type="checkbox">
                            </div>
                        </div>
                        <div class="row mt-4 ">
                            <div class="col-md-3 ">
                            </div>
                            <div class="col-md-8 text-start">
                                <button class="btn btn-success" (click)="saveGodown()"
                                    style="padding-left:8%;padding-right:8%;">
                                    Save</button>
                                <button class="btn btn-primary" (click)="reset()"
                                    style="margin-left:1%; padding-left:8%;padding-right:8%;"> Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
    
    <ng-template #deleteModal>
        <app-delete-confirmation [rowId]="selectedItemId" (onConfirmedId)="removeDetailFormRow($event)">
        </app-delete-confirmation>
    </ng-template>