<section class="mt-5 mb-5">
<div class="container">
    <div class="row ">

        <div class="col-md-7">
            <div class="input-group">
                <input id="house" class="form-control" type="text" name="search" [(ngModel)]="searchText"
                    autocomplete="off" placeholder="search Name, description">
            </div>
        </div>
<div class="col-md-2">

</div>
        <div class="col-md-3">
            <button class="btn btn-success mx-2" (click)="openModalForSave(modalForSave)"
                style="padding-left:8%;padding-right:8%; background-color: #256D85;"> <i class="fa-solid fa-plus"></i>
                Add </button>
                
                <button class="btn btn-success mx-2" (click)="tableListPdfView()"> <i class="fa-regular fa-eye"></i> Pdf View
                </button>
        
        </div>
       

    </div>
    </div>
</section>
<section class="mt-3">
    <div class="container">
    <div #tableListPdf class="tableListPdf" style="max-height: 450px; overflow:scroll;width: 100%;">
        <table id="example" class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let color of lstColorModel | filter:searchText">
                    <td>{{color.colorName}}</td>
                    <td>{{color.description}}</td>
                    <td><span class="text-success" *ngIf="color.status===1"> <i class="fa fa-check"
                                aria-hidden="true"></i> Active</span>
                        <span class="text-danger" *ngIf="color.status===2"> <i class="fa fa-times"
                                aria-hidden="true"></i> Deactived</span>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-sm btn-info" (click)="editColorById(color.id,modalForSave)"><i
                                        class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-sm btn-danger" (click)="delete(color.id, deleteModal)"><i
                                        class="fa-solid fa-trash"></i></button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-sm btn-success" (mouseover)="changeById(color.id)"
                                    (click)="viewPrint(color.id)"><i class="fa-regular fa-eye"></i></button>
                            </div>
                        </div>
                    </td>

            </tbody>
        </table>
    </div>

</div>
</section>

<ng-template #modalForSave>
    <div class="row">
        <div class="card  text-center" style="border:none">
            <form [formGroup]="authorEntryForm">
                <div class="card-header text-center pt-4 pb-4" style="border:none ;background-color:#F2F2F2 ">
                    <h3>Author Entry</h3>
                </div>
                <div class="card-body" style="background-color:#F2F2F2">
                    <div class="row">
                        <div class="col-md-3 text-start">
                            <Label>Author Name</Label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="colorName" type="text">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3 text-start">
                            <Label>Discription</Label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="description" type="text">
                        </div>
                    </div>
                    <div class="row mt-2 text-start">
                        <div class="col-md-3 text-start">
                            <Label>Status</Label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="status" type="checkbox">
                        </div>
                    </div>
                    <div class="row mt-4 ">
                        <div class="col-md-3 ">
                        </div>
                        <div class="col-md-8 text-start">
                            <button class="btn btn-success" (click)="saveAuthor()"
                                style="padding-left:8%;padding-right:8%;">
                                Save</button>
                            <button class="btn btn-primary" (click)="reset();"
                                style="margin-left:1%; padding-left:8%;padding-right:8%;"> Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #deleteModal>
    <app-delete-confirmation [rowId]="selectedItemId" (onConfirmedId)="removeDetailFormRow($event)">
    </app-delete-confirmation>
</ng-template>